---
new_page_extension: md
auto_deploy: false
admin_path: admin
sections:
- type: heading
  label: Edit Here
- type: document
  path: _data/home-info.json
  label: Property Info
- type: document
  path: _data/agent.json
  label: Agent Info
- type: document
  path: _data/media.json
  label: Media
upload_dir: images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - JEKYLL_ENV=staging
  preview_output_directory: _site
  install_dependencies_command: bundle install --path vendor/bundle
  preview_docker_image: forestryio/ruby:2.6
  mount_path: "/srv"
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    --port 8080 --host 0.0.0.0 -d _site